<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="data:,">
    <meta name="referrer" content="no-referrer" />
    <meta http-equiv="Content-Security-Policy" content="img-src https: data:;">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/fonts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Validated Docs</title>
</head>

<body>
    <section class="header center">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand"><img class="m-4" style="border-radius:20px;" width="30" height="30" src="<%= user.image %>" alt="<%= user.displayName %>"> ILEC Purchase Tracker </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/purchase-orders">Purchase Orders<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/po-creator"> Create purchase order<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/uploads"> Upload invoices<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/validated-docs"> Validated Docs<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout"> Sign out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>

    <div class="container">
        <div class="process-loader"></div>
        <section class="invoices-list">
            <h2 class="center m-3">
                <%= user.name %>
            </h2>
            <hr class="horizontalLine">
            <h4 class="center">Your validated documents</h4>
            <div class="container">
                <%if (Object.keys(invoices).length === 0) { %>
                    <p class="center">Currently there is no document to be validated</p>
                    <% } else{ %>
                        <table id="to-validate" class="table table-light table-hover">
                            <thead class="thead-dark">
                                <tr class="center">
                                    <th>Invoice </th>
                                    <th>Signed by</th>
                                    <th>Signed at</th>
                                    <th>Purchase order </th>
                                    <th>Department</th>
                                    <th>Supplier</th>
                                    <th>Download</th>
                                </tr>
                            </thead>
                            <% invoices.forEach(function(invoice) { %>
                                <%if ( invoice.validated === "yes") { %>
                                    <tr class="center">
                                        <td>
                                            <%= invoice.orig_file_name %>
                                        </td>
                                        <td>
                                            <%= invoice.invoice_signed_by %>
                                        </td>
                                        <td>
                                            <%= invoice.invoice_signed_at.split('G')[0] %>
                                        </td>
                                        <td>
                                            <%= invoice.file_name %>
                                        </td>
                                        <td>
                                            <%= invoice.department %>
                                        </td>
                                        <td>
                                            <%= invoice.supplier %>
                                        </td>
                                        <td>
                                            <a class="button button-outline" type="button" href="/download-validated/<%= invoice.orig_file_name %>">
                                                <i class="bi bi-cloud-download-fill"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% }); %>
                                            <% } %>
                        </table>
            </div>

        </section>

    </div>
    <script src="../static/libs/jquery-3.6.0.min.js"></script>
    <script src="../static/libs/bootstrap/js/bootstrap.js"></script>
    <script src="../static/clientJs/validated-docs.js"></script>
</body>

</html>